{% extends 'layout.html.twig' %}

{% block contenu %}
    <h1 style="text-align: center">{{ participant.pseudo }}</h1>
    <br><br><br>

    {{ form_start(edit_form) }}

    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <img src="{{ asset(participant.getPathImage()) }}" alt="image toto">
        </div>

        <div class="col-sm-7 col-sm-offset-1">
            <table>
                <tbody>
                <tr>
<<<<<<< HEAD
                    <th class="formulaire">Pseudo :</th>
                    <td>{{ form_widget(edit_form.pseudo) }}</td>
                </tr>
                <tr>
                    <th class="formulaire">Prénom :</th>
                    <td>{{ form_widget(edit_form.prenomParticipant) }}</td>
                </tr>
                <tr>
                    <th class="formulaire">Nom :</th>
                    <td>{{ form_widget(edit_form.nomParticipant) }}</td>
                </tr>
                <tr>
                    <th class="formulaire">Téléphone :</th>
                    <td>{{ form_widget(edit_form.telephoneParticipant) }}</td>
                </tr>
                <tr>
                    <th class="formulaire">Email :</th>
                    <td>{{ form_widget(edit_form.mailParticipant) }}</td>
                </tr>
                <tr>
                    <th class="formulaire">Site :</th>
                    <td>{{ form_widget(edit_form.site) }}</td>
                </tr>
                <tr>
                    <th class="formulaire">Photo de profil :</th>
=======
                    <th>Pseudo :</th>
                    <td>{{ form_widget(edit_form.pseudo) }}</td>
                </tr>
                <tr>
                    <th>Prénom :</th>
                    <td>{{ form_widget(edit_form.prenomParticipant) }}</td>
                </tr>
                <tr>
                    <th>Nom :</th>
                    <td>{{ form_widget(edit_form.nomParticipant) }}</td>
                </tr>
                <tr>
                    <th>Téléphone :</th>
                    <td>{{ form_widget(edit_form.telephoneParticipant) }}</td>
                </tr>
                <tr>
                    <th>Email :</th>
                    <td>{{ form_widget(edit_form.mailParticipant) }}</td>
                </tr>
                {#<tr>#}
                {#<th>Mot de passe : </th>#}
                {#<td>{{ form_widget(edit_form.motDePasseParticipant.first) }}</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<th>Confirmation mot de passe : </th>#}
                {#<td>{{ form_widget(edit_form.motDePasseParticipant.second) }}</td>#}
                {#</tr>#}
                <tr>
                    <th>Site :</th>
                    <td>{{ form_widget(edit_form.site) }}</td>
                </tr>
                <tr>
                    <th>Photo de profil :</th>
>>>>>>> 4c29eb236ff2811102bd35ac83185bdafb7fb8b9
                    <td>{{ form_widget(edit_form.pathImage) }}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <br>
    </div>
    <br><br><br>
<<<<<<< HEAD
    <div class=" col-sm-2 col-sm-offset-1">
        {{ form_widget(edit_form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
    <div class="col-sm-2">
        <a class="btn btn-primary" href="{{ path('participant_afficherProfil', {'id': participant.id}) }}">Annuler</a>
=======
    <div class="col-sm-2 col-sm-offset-1">
        {{ form_widget(edit_form.Enregistrer) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(edit_form.Annuler) }}
>>>>>>> 4c29eb236ff2811102bd35ac83185bdafb7fb8b9
    </div>


    {{ form_end(edit_form) }}
    <div class="row">

        <!-- UNIQUEMENT SI L'UTILISATEUR CONNECTE EST ADMIN, IL AURA ACCES AU BOUTON "SUPPRIMER UN PARTICIPANT"-->
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-sm-2">
                {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Supprimer participant">
                {{ form_end(delete_form) }}
            </div>

        {% endif %}

        <div class="col-sm-2">
            <a class="btn btn-primary" href="{{ path('participant_edit_password', {'id': participant.id}) }}">Modifier le mot de passe</a>
        </div>

        <div class="col-sm-2">
            <a class="btn btn-primary" href="{{ path('participant_index') }}">Retour à la liste</a>
        </div>
    </div>


{% endblock %}