{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participants list</h1>

    <!--MESSAGE QUI APPARAITRA UNIQUEMENT QUAND UN PARTICIPANT AURA ETE SUPPRIME-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{ message }}
    {% endfor %}
    </div>
    <br>


    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>E-mail</th>
            <th>Administrateur</th>
            <th>Actif</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>
                    <a href="{{ path('participant_afficherProfil', { 'id': participant.id }) }}">{{ participant.id }}</a>
                </td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nomParticipant }}</td>
                <td>{{ participant.prenomParticipant }}</td>
                <td>{{ participant.telephoneParticipant }}</td>
                <td>{{ participant.mailParticipant }}</td>
                <td>{% if participant.administrateur %}Oui{% else %}No{% endif %}</td>
                <td>{% if participant.actif %}Oui{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participant_afficherProfil', { 'id': participant.id }) }}">Profil</a>
                        </li>

                        <!-- L'UTILISATEUR CONNECTE AURA ACCES UNIQUEMENT A SON PROFIL POUR LE MODIFIER
                        IL NE POURRA PAS ACCEDER AU LIEN "EDIT" DES AUTRES PARTICIPANTS-->
                        {% if participant == app.user or is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('participant_edit', { 'id': participant.id }) }}">Edit</a>
                            </li>
                        {% endif %}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participant_inscription') }}">Créer un nouveau participant</a>
        </li>
    </ul>
{% endblock %}
