{% extends 'layout.html.twig' %}

{% block contenu %}
    <h1>Ville</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Nomville</th>
                <td>{{ ville.nomVille }}</td>
            </tr>
            <tr>
                <th>Codepostalville</th>
                <td>{{ ville.codePostalVille }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ville_listeVilles') }}">Retour à la liste des villes</a>
        </li>
        <li>
            <a href="{{ path('ville_edit', { 'id': ville.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
